In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
url = "https://raw.githubusercontent.com/rociochavezmx/Rocio-Chavez-youtube-Files/master/Contaminacion%20Atmosferica.csv"
df= pd.read_csv(url)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Contaminacion_SO2  41 non-null     int64
 1   Temperatura        41 non-null     float64
 2   Fabricas           41 non-null     int64
 3   Habitantes         41 non-null     int64
 4   Velocidad_viento   41 non-null     float64
 5   Lluvia             41 non-null     float64
 6   Dias_Lluvia        41 non-null     int64
dtypes: float64(3), int64(4)
memory usage: 2.4 KB

In [5]:
df.head()

,Contaminacion_SO2,Temperatura,Fabricas,Habitantes,Velocidad_viento,Lluvia,Dias_Lluvia
0,10,70.3,213,582,6.0,7.05,36
1,13,61.0,91,132,8.2,48.52,100
2,12,56.7,453,716,8.7,20.66,67
3,17,51.9,454,515,9.0,12.95,86
4,56,49.1,412,158,9.0,43.37,127

In [ ]:
plt.scatter(df["Velocidad_viento",df["Dias_Lluvia"]])
plt.title("Dias_lluvia y Velocidad_viento")
plt.xlabel("Velocidad_viento")